.gradle/*
/build/
/netsharp-web/.project
/netsharp-web/.settings
/netsharp-web/bin
/netsharp-web/build
/netsharp-web/.classpath
/netsharp-weixin-ui/.project
/netsharp-weixin-ui/.settings
/netsharp-weixin-ui/bin
/netsharp-weixin-ui/build
/netsharp-weixin-ui/.classpath
/.gradle
/netsharp-basebiz/.settings
/netsharp-basebiz/bin
/netsharp-basebiz/build
/netsharp-basebiz/.classpath
/netsharp-basebiz/.project
/netsharp-basebiz-web/.project
/netsharp-basebiz-web/.settings
/netsharp-basebiz-web/bin
/netsharp-basebiz-web/build
/netsharp-basebiz-web/.classpath
/netsharp-cache-base/.project
/netsharp-cache-base/.settings
/netsharp-cache-base/bin
/netsharp-cache-base/build
/netsharp-cache-base/.classpath
/netsharp-cache-plugin/.project
/netsharp-cache-plugin/.settings
/netsharp-cache-plugin/bin
/netsharp-cache-plugin/build
/netsharp-cache-plugin/.classpath
/netsharp-cache-service/.project
/netsharp-cache-service/.settings
/netsharp-cache-service/bin
/netsharp-cache-service/build
/netsharp-cache-service/.classpath
/netsharp-communication/.project
/netsharp-communication/.settings
/netsharp-communication/bin
/netsharp-communication/build
/netsharp-communication/.classpath
/netsharp-core/.project
/netsharp-core/.settings
/netsharp-core/bin
/netsharp-core/build
/netsharp-core/.classpath
/netsharp-nsf/.settings
/netsharp-nsf/bin
/netsharp-nsf/build
/netsharp-nsf/.classpath
/netsharp-nsf/.project
/netsharp-panda/.project
/netsharp-panda/.settings
/netsharp-panda/bin
/netsharp-panda/build
/netsharp-panda/.classpath
/netsharp-persistence/.project
/netsharp-persistence/.settings
/netsharp-persistence/bin
/netsharp-persistence/build
/netsharp-persistence/.classpath
/netsharp-scrum/.project
/netsharp-scrum/.settings
/netsharp-scrum/bin
/netsharp-scrum/build
/netsharp-scrum/.classpath
/netsharp-test/.settings
/netsharp-test/bin
/netsharp-test/build
/netsharp-test/.classpath
/netsharp-test/.project
/netsharp-weixin/.project
/netsharp-weixin/.settings
/netsharp-weixin/bin
/netsharp-weixin/build
/netsharp-weixin/.classpath
/weixin-mp-sdk/.settings
/weixin-mp-sdk/bin
/weixin-mp-sdk/build
/weixin-mp-sdk/.classpath
/weixin-mp-sdk/.project
/weixin-qy-sdk/.settings
/weixin-qy-sdk/bin
/weixin-qy-sdk/build
/weixin-qy-sdk/.classpath
/weixin-qy-sdk/.project
/netsharp-rest/.settings
/netsharp-rest/bin
/netsharp-rest/build
/netsharp-rest/.classpath
/netsharp-rest/.project
/netsharp-rest-plugin/.settings
/netsharp-rest-plugin/bin
/netsharp-rest-plugin/build
/netsharp-rest-plugin/.classpath
/netsharp-rest-plugin/.project
/.settings
/.classpath
/.project
.idea/
netsharp-basebiz-web/out/
netsharp-basebiz/out/
netsharp-cache-base/out/
netsharp-cache-plugin/out/
netsharp-cache-service/out/
netsharp-communication/out/
netsharp-core/out/
netsharp-panda/out/
netsharp-persistence/out/
netsharp-rest-plugin/out/
netsharp-rest/out/
netsharp-scrum/out/
netsharp-test/out/
netsharp-web/out/
netsharp-weixin-ui/out/
netsharp-weixin/out/
netsharp.iml
weixin-mp-sdk/out/
weixin-qy-sdk/out/
netsharp-test/src/test/resources/dev/conf/database.properties
netsharp-web/src/main/resources/dev/conf/database.properties
netsharp-web/src/main/resources/dev/conf/configuration.properties
/*/bin
/*/build
/*/.settings
/*/.classpath
/*/.project
/*/.gitignore
/*/out/
/*/src/main/resources
/*/src/test/resources

